@import 'colors';

.badge {
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  user-select: none;

  position: absolute;
  top: 0;
  left:0;
  right: 0;

  &.draft {
    background: $draft-color;
  }

  &.release {
    background: $release-color;
  }
}
